<h1>My thoughts as words</h1>
<form method="post" action="/create">
  <div class="form-group">
    <textarea class="form-control" name="new">
    </textarea>
  </div>
  <button class="btn btn-info" type="submit">Create</button>
</form>
